<!-- <div class="mt-2">
    <div class="embed-responsive embed-responsive-1by1">
    <iframe 
        class="embed-responsive-item"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1982.7433490425585!2d24.93329681619039!3d60.20153018197257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920991ece823df%3A0xd4b4f30731ef9db7!2sBusiness%20College%20Helsinki!5e0!3m2!1sru!2sfi!4v1648449000871!5m2!1sru!2sfi" 
        width="100%"
        height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>
</div> -->

<h5>Google MAPS</h5>