<div class="row" style="background-color: #1f3045;">
  <h6 class="col-sm-10 mt-2" style="color: white; text-align: center;">
    Opening Hours
  </h6>
  <button
    type="button"
    class=""
    data-dismiss="modal"
    (click)="closeModal('close')"
    style="color: white; text-decoration: none;"
    class="btn btn-link col-sm-2"
  >
    X
  </button>
</div>
<table class="table" *ngIf="fromParent.open.monday.from !== null; else para">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Open</th>
      <th scope="col">Close</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</th>
      <td *ngIf="fromParent.open.monday.from; else cross">
        {{ fromParent.open.monday.from | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
      <td *ngIf="fromParent.open.monday.to; else cross">
        {{ fromParent.open.monday.to | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td *ngIf="fromParent.open.tuesday.from; else cross">
        {{ fromParent.open.tuesday.from | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
      <td *ngIf="fromParent.open.tuesday.to; else cross">
        {{ fromParent.open.tuesday.to | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td *ngIf="fromParent.open.wednesday.from; else cross">
        {{ fromParent.open.wednesday.from | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
      <td *ngIf="fromParent.open.wednesday.to; else cross">
        {{ fromParent.open.wednesday.to | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td *ngIf="fromParent.open.thursday.from; else cross">
        {{ fromParent.open.thursday.from | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
      <td *ngIf="fromParent.open.thursday.to; else cross">
        {{ fromParent.open.thursday.to | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td *ngIf="fromParent.open.friday.from; else cross">
        {{ fromParent.open.friday.from | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
      <td *ngIf="fromParent.open.friday.to; else cross">
        {{ fromParent.open.friday.to | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
    </tr>
    <tr>
      <th scope="row">Saturday</th>
      <td *ngIf="fromParent.open.saturday.from; else cross">
        {{ fromParent.open.saturday.from | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
      <td *ngIf="fromParent.open.saturday.to; else cross">
        {{ fromParent.open.saturday.to | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
    </tr>
    <tr>
      <th scope="row">Sunday</th>
      <td *ngIf="fromParent.open.sunday.from; else cross">
        {{ fromParent.open.sunday.from | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
      <td *ngIf="fromParent.open.sunday.to; else cross">
        {{ fromParent.open.sunday.to | slice: 0:5 }}
      </td>
      <ng-template #cross><td>X</td></ng-template>
    </tr>
  </tbody>
</table>

<ng-template #para>
  <div>
    <p
      style="text-align: center; font: 1em sans-serif; color: red;"
      class="mt-3"
    >
      Open! But timing not provided
    </p>
  </div>
</ng-template>
