<div class="container ">

    <!-- ERROR Message -->
    <ng-container *ngIf="error != null"><h1 class="text-danger">{{error}}</h1></ng-container>
    
    <!-- Place -->
    <ng-container *ngIf="( itemCategoryName == 'place' )">
        <app-details-place [itemData]="itemData" ></app-details-place>
    </ng-container>
    <!-- END -->
    
    <!-- Pctivity -->
    <ng-container *ngIf="( itemCategoryName == 'activity' )">
        <app-details-activity [itemData]="itemData"></app-details-activity>
    </ng-container>
    <!-- END -->
    
    <!-- Event -->
    <ng-container *ngIf="( itemCategoryName == 'event' )">
        <app-details-event [itemData]="itemData"></app-details-event>
    </ng-container>
    <!-- END -->

</div>
