<!-- <h1 class="text-white">
    footer works!</h1> -->
<!-- <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-5 mb-md-0 text-muted">© 2022 Business College Helsinki <br> TEAM: ANTON SEMENOV, KRISTA KATAJISTO, MALINI RAJASEKAR DEEPIKA, ALIONA ANISIMAVA</span>
        </div> -->


<!-- <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
    </footer>
</div> -->
<!-- <section class="footer"></section> -->
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <fa-icon [icon]="faStar"></fa-icon>
        </li>
        
        <li class="nav-item"><a href="https://semenov-anton-a.github.io/portfolio/" class="nav-link px-2 text-muted">ANTON
                SEMENOV</a></li>
        <li class="nav-item"><a href="https://github.com/kkrista" class="nav-link px-2 text-muted">KRISTA KATAJISTO</a>
        </li>
        <li class="nav-item"><a href="https://github.com/Deepi03" class="nav-link px-2 text-muted">MALINI RAJASEKAR
                DEEPIKA</a></li>
        <li class="nav-item"><a href="https://github.com/Aliona4" class="nav-link px-2 text-muted">ALIONA ANISIMAVA</a>
        </li>
        
        <li class="nav-item">
            <fa-icon [icon]="faStar"></fa-icon>
        </li>

    </ul>
    <p class="text-center text-muted">Z © 2022 Business College Helsinki</p>
</footer>