<div class="row mt-2">
    <div class="col-md-3 col-sm-12">
        <app-category-list></app-category-list>
        <app-google-map [currentCategory]="category" [cardsData]="cardsData"></app-google-map>
        <app-weather></app-weather>
        <div class="mb-2">
            <app-tag-list [tags]="tags" categoryName={{category}} (loadByTag)="loadByTag($event)"></app-tag-list>
        </div>
    </div>

    <div class="col-md-9">
        <div class="alert alert-danger" *ngIf="error != null" role="alert">{{error}}</div>
        <h4 class="text-secondary" *ngIf="error != null">{{error}}</h4>
        <app-activities-cards
            [allowLoadMoreData]="allowLoadMoreData"
            (addItemEmitter)="addItem()" 
            [cardsData]="cardsData">
        </app-activities-cards>
        <!-- <app-cards [cardsData]="cardsData"></app-cards> -->
    </div>
</div>