<div class="list-group">
  <a
    routerLink="/"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    Show favorites
  </a>
  <a
    routerLink="/places"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    Places
  </a>
  <a
    routerLink="/activities"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    Activities
  </a>
  <a
    routerLink="/events"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    Events
  </a>
</div>

<app-map class="col-2 mt-2"></app-map>
