.widget-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.widget-header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 1rem;

}

.fa-spin-hover:hover {
    animation: fa-spin 2s infinite linear;
}


#spinner {

    margin-left: auto;
}

.container-wrapper {
    margin: 0 auto;
    width: 47rem;
    height: 47rem;
    background-color: #F3F4F8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin:auto;

}

#search-invalid {
    height: 1.2rem;

}


#search-input-wrapper {
    height: 3rem;
}



#container {

    width: 42rem;

    background-color: white;
    border-radius: 15px;

}

.container-padding {
    padding-left: 2.5rem;
    padding-right: 2.5rem;

}

.town-default {
    margin-top: 0.1rem;
}

.town-input {
    margin-top: -0.15rem;
}

#town::after {
    margin-top: -0.35rem;
}

#search {
    margin-right: 1rem;
}

#image {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#weather-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
 }

#celsius-degrees {
    font-size: 6rem;
    line-height: 4rem;
}

#celsius-wording {
    color: grey;
    font-size: 2rem;
    margin-left: 19rem;
    margin-top: -10.5rem;
    text-transform: capitalize;
}

#oneday-three {
    border-right: none;
}

.fahrenheit {
    display: flex;
    align-self: center;
    margin-top: -4rem;
}

.active-letter {
    font-size: 2rem;
}

.inactive-letter {

    font-size: 1.3rem;
    color: grey;
    margin-top: 0.5rem;
}

.wind-desc {
    /* margin-top: 5px; */
    display: flex;
    flex-direction: row;
    align-items: center;

}

.wind-speed-desc {
    margin-left: 0.1rem;
    margin-top: 0.4rem;
}

.wind-speed {
    font-size: 1.5rem;
}

#wind, #rain {
    display: flex;
    width: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
}

#snow {
    display: flex;
    width: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
}






.rain-percent {
    /* margin-top: 5px; */
    font-size: 1.5rem;
}

#rain-icon {
    height: 42px;
}

#wind-icon {
    height: 42px;
}

.footer {
    display: flex;
    flex: 1;
    margin-top: 4rem;

}

.oneday-icon {
    width: 5rem;

}

.max {
    max-width: 100%;
    height: auto;
}

.footer-details {
    display: flex;
    flex-wrap: wrap;
}



.oneday {
    border-top: 1px solid rgba(211, 211, 211, .37);
    flex: 1;
    border-right: 1px solid rgba(211, 211, 211, .6);
    padding-bottom: 1rem;
}

.day-name {
    text-align: center;
    padding-top: 1rem;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.footer-temp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.lowesttemp {
    font-size: 1.2rem;
    color: grey;
}

.highesttemp {
    font-size: 2rem;
}

.annotations {
    text-align: left;
    width: 42rem;
    margin: 0 auto;
    font-size: 0.75rem;
    margin: auto;
}

.oneday-secondrow {
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}

.wrapper-overall {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;

}

.centered-wrapper {
    margin: auto;
}

#celsius-letter {
    cursor: pointer;
    margin-left: 3rem;
}

#fahrenheit-letter {
    cursor: pointer;
    margin-left: 1rem;
}

.celsius-units {
    display: flex;
    flex-direction: row;
}
