a { text-decoration: none;}
a:hover { text-decoration: underline; font-size: 18px;}
a.active {
    font-size: 18px;
    color: red;
}

.btn-primary {
    color: #fff;
    /* background-color: rgb(3, 32, 78); */
    background-color: rgb(26, 78, 112);
    border-color: black;
}
