<!-- <app-testcomponent></app-testcomponent> -->

<div class="container">

    <div class="w3-right w3-hide-small">
        <a routerLink="blog" class="w3-bar-item w3-button" style="background-color: rgb(29, 88, 110);
        color: rgb(255, 253, 245);
        border-radius: 10px; margin-top: 4px;">Blog</a>
    </div>

    <div class="row my-2">
        <app-langs></app-langs>
    </div>


	<!-- NAV MENU -->
	<div class="gradient">
		<app-header></app-header>
    </div>
    <!-- ROUTER -->
    <router-outlet></router-outlet>
    <!-- ROUTER END -->

    <!-- FOOTER -->

    <app-contact></app-contact>
    <app-footer></app-footer>

    <!-- <footer class="py-3 my-4 border-top">
		<p class="text-center text-muted">© 2022 Bussiness College</p>
	</footer> -->

</div>
<div>

</div>