<div class="container">
	<!-- NAV MENU -->
	<nav class="navbar navbar-expand-lg navbar-light border-bottom">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">HSL Events</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled">Disabled</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- ROUTER -->
	<router-outlet></router-outlet>
	<!-- ROUTER END -->
	

	<!-- FOOTER -->
	<footer class="py-3 my-4 border-top">
		<p class="text-center text-muted">© 2022 Bussiness College</p>
	</footer>
</div>