.container {
    /* padding: 20px; */
    background-color: rgb(31, 48, 69);
    border-radius: 15px;
    margin-top: 22px;
    border: solid lightgrey 1px;
}

nav {
    /* background: linear-gradient(68.2deg, rgb(31, 48, 69) 23%, rgb(70, 17, 155) 45%, rgb(248, 242, 250) 80.2%); */
    background: linear-gradient(68.2deg, rgb(31, 48, 69) 23%, rgb(9, 109, 155) 55%, rgb(248, 242, 250) 80.2%);
    margin-top: 25px;
}

img {
    max-width: 40%;
    height: auto;
    margin-left: 90px;
  }


