<div class="row mt-2">
  <div class="col-md-3">
    <app-category-list></app-category-list>
    <app-weather></app-weather>
  </div>

  <div class="col-md-9" style="border-radius: 8px">

      <div class="content">
        <img src="{{apiService.baseURL}}assets/images/helsinki10.jpeg" alt="Bear" class="image" style="width:100%; border-radius: 6px;">
        <div class="middle">
            <div class="text">
                <h3 style="margin-top: 10px;">Welcome to Atmospheric Helsinki</h3>
                <p style="margin-top: 10px;">With this application you can get acquainted with various events, activities and places close to you in the Helsinki metropolitan area!</p>
                </div>
          </div>
      </div>

      <!-- <div class="container">
        <img src="../../../assets/images/helsinki9.jpg" alt="Avatar" class="image" style="width:100%; border-radius: 6px;">
        <div class="middle">
          <div class="text">John Doe</div>
        </div>
      </div> -->

  </div>

    <!-- FAVORITES -->
    <!-- <app-cards></app-cards> -->


</div>
