<div class="row my-2">

    <div class="col-md-3 btn-group input-group-sm" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="langbtn" id="lang1" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="lang1">FI</label>

        <input type="radio" class="btn-check" name="langbtn" id="lang2" autocomplete="off">
        <label class="btn btn-outline-secondary" for="lang2">SV</label>

        <input type="radio" class="btn-check" name="langbtn" id="lang3" autocomplete="off">
        <label class="btn btn-outline-secondary" for="lang3">EN</label>
    </div>

    <div class="col-md-2 ms-auto btn-group input-group-sm" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="btnradio1">5 Hours</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btnradio2">3 Hours</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btnradio3">1 Hours</label>
    </div>

</div>

<div class="row mt-2">
    <div class="col-md-3">
        <app-category-list></app-category-list>
    </div>
    <div class="col-md-9">
        <app-cards></app-cards>
    </div>
</div>