<div class="row mt-2">
    <!-- <p>CURRENT Lang from Places.Conponent {{ currentLanguage.name }}</p>
    <p  [innerText]="currentLanguage.name"></p> -->
    <div class="col-md-3 col-sm-12">
        <app-category-list></app-category-list>
        <app-google-map [currentCategory]="category" [cardsData]="cardsData"></app-google-map>
        <app-weather></app-weather>
        <app-tag-list [tags]="tags" categoryName={{category}} (loadByTag)="loadByTag($event)"></app-tag-list>
    </div>

    <div class="col-md-9 col-sm-12">
        <h4 class="text-secondary" *ngIf="( error != null )">{{error}}</h4>
        <!-- <app-cards [cardsData]="cardsData"></app-cards> -->
        <!-- <app-places-cards [cardsData]="cardsData"></app-places-cards> -->
        <ngx-masonry [options]="{ gutter: 10 }" [ordered]="true">
            <app-places-cards 
                [allowLoadMoreData]="allowLoadMoreData" 
                (addItemEmitter)="addItem()" 
                [cardsData]="cardsData">
            </app-places-cards>
        </ngx-masonry>

        <app-btn-loaddata 
            (loadModeItems)="addItem()" 
            [allowLoadMoreData]="allowLoadMoreData">
        </app-btn-loaddata>
    </div>
</div>