body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: rgb(194, 194, 194);
    text-align: var(--bs-body-text-align);

}

p {
    font-style: italic;
    font-size: 14px;
}

h3 {
    color: rgb(193, 234, 255);
    margin-top: 22px;
    font-size: 22px;

}

h6 {
    margin-top: 15px;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: rgb(215, 248, 250);
    font-size: 12px;
}

img {
    margin-bottom: 15px;
}
